<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body{
            background-color:aquamarine;
        }
        div{
            background-color: aqua;
            width: 500px;
            height: 150px;
            box-shadow: 0 4px 8px 0 black ;
            padding: 1%;
            margin:10% 15% ;
        }
        input{
            width: 70%;
            height: 25px;
        }
       a{
        text-decoration:none;
        background-color: aliceblue;
        font-size: 20px;
        font-style: italic;
        color: brown;
        padding: 10px;
        margin: 25px;
       }
    </style>
</head>
<body>
   <h1> Hello , <%= myName %> </h1>
   
    <div>
        <!-- <img src="./Web-Security.webp" alt="secrets image"> -->
        <h1>Want to open Secrects file : </h1>
        <br><br>
        <a  href="/register" role="button">Register</a>
        <a  href="/login" role="button">Login</a>
    </div>

    
</body>
</html>